$primary: #9b7006;
$body-bg: #352941;
$body-color: #faf5ea;
$yellow: #f5ee2b;
$gold: #9c7b0f;
$black: #000;
$darkgrey: #212529;
$ocher:#9b7006; 
$grey: #5c5849;
$cream: #f0e4b8;

@import '~bootstrap/scss/bootstrap.scss';


.body{
  min-height: 100vh;
  margin: 0;
  font-family: "Afacad Flux", sans-serif;
  color: $body-color;
  font-size: 17px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.btn-primary{
  margin: 20px 0;
  color: $body-color;
  font-size: 18px;

  &:hover,
  &:active,
  &:focus {
    color: $body-color;
  }
}

.form-control{
  margin-bottom: 20px;
}

.login-container{
  margin: 50 auto;
  max-width: 700px;
}

.logo{
  display: block;
  min-width: 30px;
}

.profile-signup{
  text-decoration: none;
  color: $body-color;
}
.active {
  opacity: 0;
 }

 .alert-custom{
  float: none;
  background: $darkgrey;
  color: $gold;
  font-size: 20px;
  text-align: center;
  border-radius: 12px;
 }

.btn-custom{
  opacity: 0.9;
  margin-left: 10px;
  padding: none;
  color: $gold;
  background-color: transparent;
  border: none;
}

.btn-custom:hover{
  opacity: 1;
}

.card{
  max-width: 240px;
  border-radius: 12px;
  padding: 10px;
  transition: transform 0.3s ease; 

  &:hover {
    transform: scale(1.04); 
    box-shadow: 0 4px 20px #000; // 
  }
}

div.movies_img{
  max-height: 350px;
  max-width: 220px;
}

img{
  max-width: 220px;
}

.btn-link{
  margin: none;
  padding: none;
  color: $gold;
}

h1{
  color: $ocher;
  font-size: 33px;
}

h2{
  color: $ocher;
  font-size: 27px;
}

.login-view{
  max-width: 667px;
  margin: auto;
}

.loading-msg{
  margin: auto;
  text-align: center;
}
